/*the container must be positioned relative:*/
.custom-select {
  position: relative;
}

.custom-select select {
  opacity: 0;
  height: 0 !important;
  line-height: 0 !important;
  margin: -15px 0 0;
  border: none;
  width: 0; /*hide original SELECT element:*/
}

.select-selected:hover {
  border-color: var(--accent-border-color);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

select:disabled ~ .select-selected {
  color: var(--disabled-color) !important;
  border-color: var(--disabled-border) !important;
  background-color: var(--disabled-bg) !important;
  box-shadow: none !important;
}

select:disabled ~ .select-items {
  display: none !important;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-selected {
  padding: 0 12px;
  height: 42px;
  display: flex;
  border-radius: 2px;
  align-items: center;
  text-transform: uppercase;
  font: bold .8rem var(--font);
  border: 1px solid var(--border-color);
  cursor: pointer;
  user-select: none;
}

.select-selected {
  position: relative;
}

.select-selected::after {
  content: 'v';
  font-size: .6rem;
  position: absolute;
  top: 10px;
  right: 12px;
}

.select-selected:focus {
  border-color: var(--accent-border-color);
}

/*style items (options):*/
.select-items {
  position: absolute;
  background: white;
  top: calc(100% + 6px);
  text-transform: uppercase;
  border: 1px solid var(--border-color);
  left: 0;
  font-size: .8rem;
  right: 0;
  z-index: 99;
}

.select-items div {
  padding: 10px 12px;
  cursor: pointer;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: var(--accent);
  color: white;
}

select:invalid .select-selected {
    border-color: var(--invalid-accent);
}
